header {
  margin: 40px;
  height: fit-content;
  display: flex;
  justify-content: center;
  form {
    width: 75%;
    display: flex;
    flex-direction: column;
    :nth-child(1n) {
      margin: 10px;
    }
  }
}
