section.toDo {
  scale: 0.8;
  // background-color: rgba(250, 250, 250, 0.16);
  font-size: 1em;
  margin: 10px;
  border: black 3px solid;
  padding: 5px;
  width: 28%;
  display: grid;
  align-content: space-around;
  align-items: baseline;
  justify-items: center;
  grid-template-areas:
    "ti ti ti ti"
    "txt txt txt txt"
    "del del ch ch "
    "da da da da";
  min-height: 260px;
  &:hover {
    background-color: transparent;
    backdrop-filter: blur(100px);
    scale: 1;
    transition: all 500ms;
  }
  .toDo__title {
    grid-area: ti;
    color: red;
  }
  .toDo__text {
    grid-area: txt;
  }
  .toDo__date {
    grid-area: da;
  }
  .container_toDo__delete {
    .toDo__delete {
      display: none;
      cursor: pointer;
      background-color: red;
      border-radius: 30px;
      height: 50px;
      width: 50px;
    }
    height: 50px;
    width: 50px;
    grid-area: del;
  }
  input#accomplish {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    grid-area: ch;
    &:checked {
      background-color: aqua;
      color: blue;
      & + .container_toDo__delete {
        .toDo__delete {
          display: block;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  section.toDo {
    width: 22%;
  }
}
@media screen and (max-width: 850px) {
  section.toDo {
    width: 42%;
  }
}
@media screen and (max-width: 460px) {
  section.toDo {
    width: 96%;
  }
}
